<div class="main-title-wrap">
  <h1>HEX JOURNAL</h1>
  
  <a href="https://docs.google.com/spreadsheets/d/1mhKC4bMgqLdAI2d8Vcb7nGKcXfjbeIdKuHnymlPvzc4/copy"target="_blank"><h3> > Download Google Sheets <</h3></a>
  <p>(Please read the setup section to get API to work on your sheet. You become owner when downloading Hex Journal with full access to customize google sheet to your liking. For more accurate results, fill sheet end of day)</p>
  <div class="men">
    <a href="#Setup" id="menus"><h3>Setup</h3></a>
    <a href="#Description" id="menus"><h3>Description</h3></a>
    <a href="#charts" id="menus"> <h3>Charts</h3></a>
  </div>
</div>

<section class="introduction">
  <a><h1>Introduction</h1></a>
  <p>Hex Journal is google sheet data base interactive Hex crypto journal where you the user can collect in a
    spreadsheet format day to day information about Hex. Note down, evaluate day entry points of your liking.
    Remember the days Hex did I run up, or a special event that may of pumped or dumped Hex. With Hex Journal
    you have a personal digitized journal that belongs to you to keep track of your Hex t-shares and much more.
    Unravel the mechanical nature of how this programable product operates. By manually typing in the amount of
    T-shares you own Hex Journal locks in the current data at time of entry, and displays a past history of
    earlier entries. This layout gives the user a overview of the functionality of Hex. Your spreadsheet
    reveals Hex in relationship to market pressure, showing its evolution in terms of adoption. The
    design of this digital journal connected to API makes comparing past performance with today performance for better future
    entry points. You the investor can understand with ease the complex nature of Hex through analysis of Hex in Uniswap
    version 2 and 3 brought and sold by long term and short term investors. Watch the movements of decentralized
    markets. Understand liquidity, volume and price fluctuations in a digital age of mad gains. </p>
    <h3>Overview (45 data columns)</h3>
  <img src="assets/image/pic1.png" alt="Journal">
  <h3>Hex product related</h3>
  <img src="assets/image/pic2.png" alt="chart overview">
  <h3>HEX/UNI</h3>
  <img src="assets/image/pic3.png" alt="chart overview">
  <h3>Simulation</h3>
  <img src="assets/image/pic4.png" alt="chart overview">
</section>

<hr>

<section class="setup">
  <a href="" id="Setup"><h1>Setup</h1></a>
  
  <div class="verify">
   <p>Google has not yet verified this apps script which describes it as unsafe. This is a safety protocol which takes time to verify. The code can be seen in "macros.gs". When you bypass the google safety requirements you are trusting this script (API) to run as intended. The trigger function allows the user to run the API ( API taken from hex.com developers resources page).</p>
    <div class="z"><h2 class="k">1</h2><img src="assets/image/101.png" alt="z"></div>
    <div class="z"><h2 class="k">2</h2><img src="assets/image/100.png" alt="z"></div>
  </div>

  <div class="download">

    <div><h2>3</h2><img src="assets/image/11.png" alt="help">
      <p class="p">Press trigger.</p>
    </div>

    <div><h2>4</h2><img src="assets/image/12.png" alt="help">
      <p class="p">Add trigger.</p>
    </div>
    
    <div><h2>5</h2><img src="assets/image/13.png" alt="help">
      <p class="p">On edit.</p>
    </div>

  </div>

  <div class="download">

    <div><h2>6</h2><img src="assets/image/14.png" alt="help">
      <p class="p"> Scroll down to save (you might have to press save twice)</p>
    </div>

    <div><h2>7</h2><img src="assets/image/15.png" alt="help">
      <p class="p">Choose account</p>
    </div>

    <div><h2>8</h2><img src="assets/image/16.png" alt="help">
      <p class="p">Press advanced</p>
    </div>

    </div>

  <div class class="download">
    <div class class="download"><h2>9</h2><img src="assets/image/17.png" alt="help">
      <p class="p">Go to Recorded Macros</p>
    </div>

    <div><h2>10</h2><img src="assets/image/18.png" alt="help">
      <p class="p">Recorded macros needs to access your account</p>
    </div>

    <div><h2>11</h2><img src="assets/image/19.png" alt="help">
      <p class="p">Allow</p>      
    </div>
    
  </div>
        <p class="con">Congratulations you are now the owner of this spreadsheet which is customizable. you can add columns, change colors
          etc.</p>
</section>


<hr>

<section class="description">
  <a href="menus" id="Description"><h1>Description</h1></a>
  <div class="download">
    <div>
      <h2>1</h2><img src="assets/image/pic5.png" alt="help">
      <p> The google sheet has "4" pages  ( API,About, Hex Journal and Charts). The "API page" is where the data is pulled from (The development resource page from hex.com). The "about page" explains terms, formulas,notes and how to navigate the journal for optimization. There are a explanations on how to use
        the columns and rows in a number format.</p>
    </div>
    <div>
      <h2>2</h2><img src="assets/image/pic6.png" alt="help">
      <p>The "Journal page" can expand and contract vertically and horizontally. There are 55 columns with 16 data entries. The table is divided into 3 sections. Part "1" extents from 1 to
        19 with two expansions which deal which the Hex product. Sections "1" displays T-shares, Hex operations
        and Hex price. Your T-shares is like a factory thats keeps producing more of itself. The more T-shares you
        own the more Hex interest you gain. The only input needed to tract your T-shares is the number the user
        writes (column 1,8). This "number method" avoids the exposure of your contract address by converting it into
        a number formate. The first expansion shows your personal T-shares performance (1-8).</p>
    </div>
    <div class="download1">
      <h2>3</h2><img src="assets/image/pic7.png" alt="help">
      <p> The second expansion shows the collective over all performance of T-shares in collective pool. In this section the
        share rate shows that Hex share rate increases over time making it impossible to outperform long-term
        staking with a strategy of frequent
        short-time staking. Column 14 is total staking in pool with column 15 as allocated supply and the rest
        follows as the collective percentage in staking pool. The last columns 45-55 is a simulation of
        hypotheticals with 4 entry points. In column "AU18" you can experiment with APY which collects data from
        "AU5. Put number of T-shares you desire to speculate "number of days in column AU18". In overview
        terms, definitions and charts are located far right.</p>
    </div>
  </div>
  <div class="download">
    <div>
      <h2>4</h2><img src="assets/image/pic8.png" alt="help">
      <p>Column "A" is your personal note section where user interacts with Hex Journal evaluation.
      Write down special events concerning that day. Note down your fundamental and technical analysis.</p>
    </div>
    <div>
      <h2>5</h2><img src="assets/image/pic9.png" alt="help">
      <p>Row "2" in the About section are google notes that explains the headers. Google notes are discrete in size
      and are hard to see, you can find them on all cells in row "2" on top of right corner.</p>
    </div>
    <div class="download1">
      <h2>6</h2><img src="assets/image/pic10.png" alt="help">
      <p> Row "3" is where links are found created by the Hex and the uniswap community. With just one click the user
      can link directly without doing unnecessary time consuming work. Uniswap links retrieve data source form uniswap version 2-3. Entry points must be manually executed.</p>
    </div>
  </div> 
  <div class="download">
    <div>
      <h2>1</h2><img src="assets/image/pic11.png" alt="help">
      <p>Hex Journal "About sheet" underlines basic layout and functionality of how to access the
      Journal.</p>
    </div>
    <div>
      <h2>2</h2><img src="assets/image/pic12.png" alt="help">
      <p>Column "43" is Hex ratio between liquidity and volume trading pairs. The lower the number the higher the
      volume. The higher the number
      the lower the volume.</p>
    </div>
    <div class="download1">
      <h2>3</h2><img src="assets/image/pic13.png" alt="help">
      <p> Column "43" is the ratio between Uniswap 1-2-3 Total liquidity and volume with all erc-20 trading pairs. The
      lower the number the higher the volume. The higher the number the lower
      the volume.</p>
    </div>
  </div>
</section>

<section class="b">
  <div class="d1"><img src="assets/image/pic14.png" alt="chart overview"></div>
  <div class="d2">
    <P>Column "1" to "18" is the inner workings of Hex. Column "1" is amount of your T-shares (yours). The dark columns is for input use that is done manually, and where totals are shown.
    </P>
  </div>
</section>

<section class="b">
  <div class="d1"><img src="assets/image/pic15.png" alt="chart overview"></div>
  <div class="d2">
    <P>Column "27" to "44" is uniswap data, this section must be filled manually. This section is optional.
    </P>
  </div>
</section>

<section class="b">
  <div class="d1"><img src="assets/image/pic16.png" alt="chart overview"></div>
  <div class="d2">
    <P>Columns 45-55 display the definitions with number count. The number count looks at the chart overview found
      in
      AV10-52. The number count method prevent user from scrolling 45 columns horizontally, which is time
      consuming.
      Column AU18 is where the days go for estimated T-shares earning per T-shares written on column AU5 in
      the
      simulation. There are 4 simulations with 4 rows of input data points to experiment with. Pink headers is for 
      input use. There are 8 overview
      charts the first 3 charts, T-shares and price. The remaining 5 charts is Hex in relation to
      Uniswap.
    </P>
  </div>
</section>

<hr>

  <section class="charts">
    <a href="menus" id="charts"><h1>Charts</h1></a>
    <p>Hex Journal offers customize charts to the user. Be inventive and create your own charts. To be able to utilize the full capacity of the chart, you need to manually input data in uniswap section.</p>
    <div class="download">
      <div>
        <h3>1</h3><img src="assets/image/chart2.png" alt="help">
        <p>Charts "1,2,3" is hex price, T-shares and Hex price correlation.</p>
      </div>
      <div>
        <h3>2</h3><img src="assets/image/chart3.png" alt="help">
        <p>Charts "4,5,6". "4" is your T-shares earnings vs Hex price. Chart "5" is liquidity and volume in
        Uniswap 2,3. Chart "6" is total Hex liquidity and Uniswap liquidity comparison chart.</p>
      </div>
      <div>
        <h3>3</h3><img src="assets/image/chart4.png" alt="help">
        <p>"7" is liquidity in uniswap 2-3 HEX/USDC, HEX/ETH pair. "8" is the Hex liquidity and volume ratio in uniswap 2-3.</p>
      </div>
    </div>
    
    <section>
      <div class="number">
    
        <div class="number1">
          <h3>1</h3>
        </div>
        <div class="number2">
          <h3>HEX PRICE</h3>
        </div>
      </div>
      <div  class="y"><img src="assets/image/chart1000.png" alt="1">
        <p></p>
      </div>
    </section>
    
    <section>
      <div class="number">
    
        <div class="number1">
          <h3>2</h3>
        </div>
        <div class="number2">
          <h3>TOTAL T-SHARES (YOURS*)</h3>
        </div>
      </div>
      <div class="y"><img src="assets/image/chart2000.png" alt="1">
        <p></p>
      </div>
    </section>
    
    <section>
      <div class="number">
    
        <div class="number1">
          <h3>3</h3>
        </div>
        <div class="number2">
          <h3>* 1T-SHARES VS DAILY EARNINGS (YOURS)</h3>
        </div>
      </div>
      <div class="y"><img src="assets/image/chart3000.png" alt="1">
        <p></p>
      </div>
    </section>
    
    <section>
      <div class="number">
    
        <div class="number1">
          <h3>4</h3>
        </div>
        <div class="number2">
          <h3>1T-SHARE VS HEX (USD)</h3>
        </div>
      </div>
      <div class="y"><img src="assets/image/chart4000.png" alt="1">
        <p></p>
      </div>
    </section>
    
    <section>
      <div class="number">
    
        <div class="number1">
          <h3>5</h3>
        </div>
        <div class="number2">
          <h3>HEX LIQ/VOL UNI 2-3.</h3>
        </div>
      </div>
      <div class="y"><img src="assets/image/chart5000.png" alt="1">
        <p></p>
      </div>
    </section>
    
    <section>
      <div class="number">
    
        <div class="number1">
          <h3>6</h3>
        </div>
        <div class="number2">
          <h3>TOTAL HEX & LIQ IN UN1 2-3</h3>
        </div>
      </div>
      <div class="y"><img src="assets/image/chart6000.png" alt="1">
        <p></p>
      </div>
    </section>
    
    <section>
      <div class="number">
    
        <div class="number1">
          <h3>7</h3>
        </div>
        <div class="number2">
          <h3>(*) TOTAL HEX/USDC HEX/ETH PAIR LIQ UNI 2-3</h3>
        </div>
      </div>
      <div class="y"><img src="assets/image/chart7000.png" alt="1">
        <p></p>
      </div>
    </section>
    
    <section>
      <div class="number">
    
        <div class="number1">
          <h3>8</h3>
        </div>
        <div class="number2">
          <h3>HEX/UNI LIQ/VOL RATIO.</h3>
        </div>
      </div>
      <div ><img src="assets/image/chart8000.png" alt="1">
        <p></p>
      </div>
    </section>
  </section>

  <section class="conclusion">
    <p class="conclusion">
      (Hex journal should be used once a day towards the end of market close for best results)
    </p>
    <p>
      Donation Ethereum Address: 9459494ujjirjgirj
    </p>
    <P>Moll</P>
    <a href=""></a><p>Top page</p>

  </section>

  
  

  
  













  















  
