<div class="main-title-wrap">
 <a href="#top"> <h1>HEX JOURNAL</h1></a>
  <p>Please read the setup section to get API to work on your sheet. Become owner when <br> downloading Hex Journal
  with full access to customize google sheet to your liking. <br> For more accurate results, fill sheet end of day every day.</p>
  <a href="https://docs.google.com/spreadsheets/d/1mhKC4bMgqLdAI2d8Vcb7nGKcXfjbeIdKuHnymlPvzc4/copy"target="_blank" class="intro"><h3> > Download Google Sheets < </h3></a>
  
  <div class="men">
    
    <a href="#Setup"><h3>Setup</h3></a>
    <a href="#Description"><h3>Description</h3></a>
    <a href="#charts"> <h3>Charts</h3></a>
    <a href="#top"></a>
  </div>
</div>

<section class="introduction">
  <a><h1>Introduction</h1></a>
  <div>
   <p>Hex Journal is a google sheet data base interactive digital journal where you the user collect in a
    spreadsheet format day to day information about Hex. Note down, evaluate day entry points of your liking.
    Track Hex price, T-Shares, allocated supply, percentage staked, Hex/eth and much more.
    Unravel the mechanical nature of how this programable product operates by manually typing in the amount of
    T-Shares you own, the API does the rest (uniswap API not applicable in Hex Journal). Hex Journal locks in the current data at time of entry, and displays a past history of
    earlier entries, this layout gives the user a overview of the functionality of Hex. Your spreadsheet
    reveals Hex in relationship to market pressure, adoption etc. Connecting the API (Application Programming Interface) makes comparing past performance with today performance easy and functional. Lets begin to build Hex community together in this new age of digital mad gains. </p>
  
    <h3>Overview (45 data columns)</h3>
    <img src="assets/image/pic1.png" alt="Journal" class="img" class="x">
    <h3>Hex product related</h3>
    <img src="assets/image/pic2.png" alt="chart overview" class="x">
    <h3>HEX/UNI</h3>
    <img src="assets/image/pic3.png" alt="chart overview" class="x">
    <h3>Simulation</h3>
    <img src="assets/image/pic4.png" alt="chart overview" class="x">
  </div>
</section>

<hr>

<section class="setup">
  <a href="" id="Setup"><h1>Setup</h1></a>
  
  <div class="verify">
   <p>Google has not yet verified this apps script which describes it as unsafe. This is a safety protocol which takes time to verify. The code can be seen in "macros.gs". When you bypass the google safety requirements you are trusting this script (API) to run as intended. The trigger function allows the user to run the API ( API taken from hex.com developers resources page). <b> When you download Hex Journal go in Journal then go to script editor thats found in the menus tab (tools)</b> </p>
    <div class="z"><h2 class="k">1</h2><img src="assets/image/101.png" alt="z" class="k"> </div>
    <div class="z"><h2 class="k">2</h2><img src="assets/image/100.png" alt="z"></div>
  </div>

  <div class="download">

    <div class="k"><h2>3</h2><img src="assets/image/11.png" alt="help">
      <p class="p">Press trigger.</p>
    </div>

    <div><h2>4</h2><img src="assets/image/12.png" alt="help">
      <p class="p">Add trigger.</p>
    </div>
    
    <div><h2>5</h2><img src="assets/image/13.png" alt="help">
      <p class="p">My on edit.</p>
    </div>

  </div>

  <div class="download">

    <div><h2>6</h2><img src="assets/image/14.png" alt="help">
      <p class="p"> Scroll down to save (you might have to press save twice)</p>
    </div>

    <div><h2>7</h2><img src="assets/image/15.png" alt="help">
      <p class="p">Choose account</p>
    </div>

    <div><h2>8</h2><img src="assets/image/16.png" alt="help">
      <p class="p">Press advanced</p>
    </div>

  </div>

  <section class class="download">
    <div class class="download"><h2>9</h2><img src="assets/image/17.png" alt="help">
      <p class="p">Go to Recorded Macros</p>
    </div>

    <div><h2>10</h2><img src="assets/image/18.png" alt="help">
      <p class="p">Recorded macros needs to access your account</p>
    </div>

    <div>
      <h2>11</h2>
      <img src="assets/image/19.png" alt="help">
      <p class="p">Allow</p>      
    </div>
    
  </section>
  <p class="con">Congratulations you are now the owner of this spreadsheet which is customizable. Add columns, change colors etc.</p>
</section>


<hr>

<section class="description">
  <h1>Description</h1>
  <div class="download">
    <div>
      <h2>1</h2><img src="assets/image/pic5.png" alt="help">
      <p> The google sheet has "3" pages (Journal, Charts and About). The Journal is your personal investment google sheet for the Hex. Charts is a fun way to see Hex in action with market pressure.  The "about page" explains terms, definitions, formulas and notes. Explanations on how to use
        the columns and rows are in a number format.</p>
    </div>
    <div>
      <h2>2</h2><img src="assets/image/pic6.png" alt="help">
      <p>The "Journal page" can expand and contract vertically and horizontally. There are 55 columns with 16 data entries. The table is divided into 3 sections. Part "1" extents from 1 to
        19 with two expansions which deal which the Hex product. Sections "1" displays T-shares, Hex operations
        and Hex price. The only input needed to tract your T-shares is the number the user
        fills in column "1" and "8". This "number method avoids the exposure of your contract address by converting it into
        a number format. The first expansion shows your personal T-shares performance (1-8).</p>
    </div>
    <div class="download">
      <h2>3</h2><img src="assets/image/pic7.png" alt="help">
      <p> The second expansion shows the collective over all performance of T-shares in collective pool. In this section the
        share rate shows that Hex share rate increases over time making it impossible to outperform long-term
        staking with a strategy of frequent
        short-time staking. Column 14 is total staking in pool with column 15 as allocated supply and the rest
        follows as the collective percentage in staking pool. The last columns 45-55 is a simulation of
        hypotheticals with 4 entry points. In column "AU18" you can experiment with APY that collects data from
        "AU5. Put number of T-shares you desire to speculate "number of days in column AU18". In overview
        terms, definitions and charts are located far right.</p>
    </div>
  </div>
  <div class="download">
    <div>
      <h2>4</h2><img src="assets/image/pic8.png" alt="help">
      <p>Column "A" is your personal note section.
      Write down special events concerning that day. Notes is for fundamental and technical analysis.</p>
    </div>
    <div>
      <h2>5</h2><img src="assets/image/pic9.png" alt="help">
      <p> Headers with notes are found in row "2". Google notes are discrete in size
      and are hard to see, you can find them on all cells in row "2" on top of right corner.</p>
    </div>
    <div class="download">
      <h2>6</h2><img src="assets/image/pic10.png" alt="help">
      <p> Row "3" is where links are found created by the Hex and the uniswap community. With just one click the user
      can link directly without doing unnecessary time consuming work. Uniswap links retrieve data source form uniswap version 2-3. Entry points must be manually executed.</p>
    </div>
  </div> 
  <div class="download">
    <div>
      <h2>7</h2><img src="assets/image/pic11.png" alt="help">
      <p>Hex Journal "About sheet" underlines basic layout and functionality of how to access the
      Journal.</p>
    </div>
    <div>
      <h2>8</h2><img src="assets/image/pic12.png" alt="help">
      <p>Column "43" is Hex ratio between liquidity and volume trading pairs. The lower the number the higher the
      volume. The higher the number
      the lower the volume.</p>
    </div>
    <div class="download">
      <h2>9</h2><img src="assets/image/pic13.png" alt="help">
      <p> Column "43" is the ratio between Uniswap 1-2-3 Total liquidity and volume with all erc-20 trading pairs. The
      lower the number the higher the volume. The higher the number the lower
      the volume.</p>
    </div>
  </div>

<section class="b">
  <div ><img src="assets/image/pic14.png" alt="chart overview"></div>
  <div >
    <P>Column "1" to "18" is the inner workings of Hex. Column "1" is amount of your T-shares (yours). The dark columns is for input use that is done manually, and where totals are shown. Pink headers is for input.
    </P>
  </div>
</section>

<section class="b">
  <div ><img src="assets/image/pic15.png" alt="chart overview"></div>
  <div >
    <P>Column "27" to "44" is uniswap data, this section must be filled manually. This section is optional.
    </P>
  </div>
</section>

<section class="b">
  <div>
    <img src="assets/image/pic16.png" alt="chart overview">
  </div>
  <div >
    <P>Columns 45-55 displays definitions in number count. The number count looks at the chart overview found
      in
      AV10-52. The number count method prevent user from scrolling 45 columns horizontally, which is time
      consuming. In simulation
      Column AU18 is where the days go for estimated T-shares earning per T-shares written on column AU5.
      . There are 4 simulations with 4 rows of input data points to experiment with. Pink headers is for input use. There are 8 overview
      charts the first 3 charts, T-shares and price. The remaining 5 charts is Hex in relation to
      uniswap.
    </P>
  </div>
</section>
</section>

<hr>

<section>
  <section class="charts">
    <a href="menus" id="charts">
      <h1>Charts</h1></a>
    <p>Hex Journal offers customizable charts to the user. Be inventive and create your own charts.<br>To utilize full capacity data needs to be manually implemented in all 16 columns.</p>
    <div class="download">
      <div>
       <h3 >1</h3>
       <img src="assets/image/chart2.png" alt="help">
        <p>Charts "1,2,3" is hex price, T-shares and Hex price correlation.</p>
      </div>
      <div class="downlaod1">
        <h3>2</h3>
          <img src="assets/image/chart3.png" alt="help">
        <p>Charts "4,5,6". "4" is your T-shares earnings vs Hex price. Chart "5" is liquidity and volume in
        Uniswap 2,3. Chart "6" is total Hex liquidity and Uniswap liquidity comparison chart.</p>
      </div>
      <div class="download1">
        <h3>3</h3>
        <img src="assets/image/chart4.png" alt="help">
        <p>"7" is liquidity in uniswap 2-3 HEX/USDC, HEX/ETH pair. "8" is the Hex liquidity and volume ratio in uniswap 2-3.</p>
      </div>
    </div>
      <div>
        <div>
          <h3>1<br>HEX PRICE</h3>
        </div>
      </div>
      <div  class="y">
        <img src="assets/image/chart1000.png" alt="1">
        <p></p>
      </div>
      <div>
        <div>
          <h3>2<br> TOTAL T-SHARES (YOURS*)</h3>
        </div>
      </div>
      <div class="y">
        <img src="assets/image/chart2000.png" alt="1">
      </div>
           
        <div >
          <h3>3<br> * 1T-SHARES VS DAILY EARNINGS (YOURS)</h3>
        </div>
     
      <div class="y"><img src="assets/image/chart3000.png" alt="1">
      </div>
        <div>
          <h3>4<br> 1T-SHARE VS HEX (USD)</h3>
        </div>
      <div class="y">
        <img src="assets/image/chart4000.png" alt="1">
      </div>
        <div >
          <h3>5<br>EX LIQ/VOL UNI 2-3</h3>
        </div>
      <div class="y">
        <img src="assets/image/chart5000.png" alt="1">
      </div>
    
      <div>
          <h3>6<br>TOTAL HEX & LIQ IN UN1 2-3</h3>
      </div>
      <div class="y">
        <img src="assets/image/chart6000.png" alt="1">
      </div>
   
      <div>
          <h3>7<br>(*) TOTAL HEX/USDC HEX/ETH PAIR LIQ UNI 2-3</h3>
      </div>
      <div class="y">
        <img src="assets/image/chart7000.png" alt="1">
      </div>
  
      <div>
          <h3>8<br>HEX/UNI LIQ/VOL RATIO</h3>
      </div>
      <div class="y">
        <img src="assets/image/chart8000.png" alt="1">
      </div>
  </section>

  <section class="conclusion">
    <p class="conclusion">
      (Hex journal should be used once a day towards the end of market close for best results)
    </p>
    <p>
      Donation Ethereum Address: 
    </p>
    <P>Moll</P>
    <a href="#top">
      <p>Back To Top</p>
    </a>
    <p class="copyright">Copyright &#169;2021. All Rights Reserved</p>
    

  </section>
</section>
  
  

  
  













  















  
