
<section class="introduction">

  <h1>HEX JOURNAL</h1>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;How to download Hex Journal in
    google sheets</h3><a href="link"></a>
  <div class="d1">
    <h1>Introduction</h1>
    <p>Hex Journal is google sheet data base interactive Hex crypto journal where you the user can collect in a
      spread sheet format day to day information about Hex. Note down, evaluate day entry points of your liking.
      Remember the days Hex did I run up, or a special event that may of pumped or dumped Hex. With Hex Journal
      you have a personal digitized journal that belongs to you to keep track of your Hex t-shares and much more.
      Unravel the mechanical nature of how this programable product operates. By manually typing in the amount of
      t-shares you own the journal locks in the current data at time of entry and displays a past history of
      earlier entries. This layout gives the user a overview of the functionality of Hex. Your spread sheet
      reveals Hex in relationships to market pressure as well as showing its evolution in terms of adoption. The
      design of this data journal makes comparing past performance with present time performance for better future
      entry points, and aids the investor in understanding the complex nature of Hex. Analysis Hex in Uniswap
      version 2 and 3 brought and sold by long term and short term investors. Watch the movements of decentralized
      markets where liquidity volume and price fluctuates in a digital age of mad gains. </p>
  </div>
</section>

<section class="journal1">
  <div>
    <img src="assets/image/A.png" alt="Journal">
  </div>
</section>


<section class="preview">
  <div><img src="assets/image/chart5.png" alt="chart overview"></div>
  <div><img src="assets/image/name.png" alt="chart overview"></div>
  <div><img src="assets/image/thon.png" alt="chart overview"></div>

</section>
<hr>

<section>
  <div>
    <h1>&nbsp;&nbsp;How to download Hex Journal
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (google sheet)</h1>
  </div>
</section>

<section class="load">
  <div><img src="assets/image/101.png" alt="2">
    <p>Number of t-shares you own.</p>
  </div>
</section>

<section class="load">
  <div><img src="assets/image/100.png" alt="2">
    <p>Number of t-shares you own.</p>
  </div>
</section>

<section class="download1">
  <div><img src="assets/image/11.png" alt="help">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam sed, id delectus et repellendus cupiditate
      ducimus placeat dolores vel similique!</p>
  </div>
  <div><img src="assets/image/12.png" alt="help">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sed voluptatum nulla nemo nam laborum minus
      alias et odit maiores.</p>
  </div>
  <div><img src="assets/image/13.png" alt="help">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt perferendis vel odit doloremque aliquam sit
      commodi neque provident error libero.</p>
  </div>
</section>

<section class="download1">
  <div><img src="assets/image/14.png" alt="help">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus ducimus magni dolorum nesciunt laboriosam labore
      quod praesentium, quos voluptatibus voluptas?</p>
  </div>
  <div><img src="assets/image/15.png" alt="help">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi inventore facilis eos tenetur doloribus illo,
      facere aspernatur dolore laboriosam optio.</p>
  </div>
  <div><img src="assets/image/16.png" alt="help">
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod consequatur illo sit eveniet enim tenetur nulla
      molestias itaque quidem quaerat.</p>
  </div>
</section>

<section class="download1">
  <div><img src="assets/image/17.png" alt="help">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium quasi, veniam quas laboriosam animi quis
      magnam esse delectus soluta magni!>
  </div>
  <div><img src="assets/image/18.png" alt="help">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus reiciendis, doloribus sed veritatis
      fuga minus et atque laudantium numquam!</p>
  </div>
  <div><img src="assets/image/19.png" alt="help">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aperiam harum, porro quasi rem et totam
      eveniet cum. Saepe, sequi.</p>
  </div>
</section>
<hr>

<section class="titleJ">
  <div>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Description Hex &nbsp;Journal </h1>

  </div>
</section>

<section class="a">
  <div class="d1">
    <img src="assets/image/about .png" alt="notes">

    <p>Google sheet has three parts "About, Hex Journal and Charts". The "about page" explains terms, formulas and
      notes on how to use Hex Journal. The "About" page shows a detail account on how to use this sheet. Sections
      with the color table in "note" makes it simple to organize the data. There is a explanation on how to use
      the columns and rows in a number format. </p>

  </div>

  <div class="d2">

    <img src="assets/image/test3.png" alt="columns expansion and contraction">
    <p> The sheet can expand and contract vertically and horizontally . There are 55 columns with 15 data entries
      that can be filled for optimizations. The table is divided into 3 sections. the first part extents from 1 to
      19 with two expansions which deal which the Hex product. The first sections displays t-shares Hex operations
      and Hex price. Your t-shares is like a factory thats keeps producing more of itself, the more t-shares you
      own the more Hex interest you gain. The only input needed to tract your t-shares is the number the user
      writes in column 1,8. This number method avoids the exposure of your contract address by converting it into
      a number formate. The first expansion shows your personal t-shares performance (1-8). </p>
  </div>

  <div class="d3">

    <img src="assets/image/name.png" alt="overview">
    <p> The second expansion shows the collective over all performance of t-shares in pool. In this section the
      share rate shows that HEX share rate increases over time making it impossible to outperform long-term
      staking with a strategy of frequent
      short-time staking. Column 14 is total staking in pool with column 15 as allocated supply and the rest
      follows as the collective percentage in the staking pool. The last columns 45-55 is a simulation of
      hypotheticals with 4 entry points. In column "AU18" you can experiment with APY which collects data from
      "AU5".Put number of t-shares you desire to speculate with and write number of days in column"AU18". There
      are terms and definitions with a overview of charts far right. </p>
  </div>


</section>

<section class="b">
  <div class="d1"><img src="assets/image/test2.png" alt="journal lay"></div>
  <div class="d2">
    <p>Hex Journal is a composition of 3 parts, the head,body and legs. The head is part "1" (1-26). Part "1" is the
      inner workings of Hex,t-shares, share rate etc. The head is the thinking part of the Hex contract. The only
      input needed for the head section is column"1,8" (Total T-Shares Yours *). For basic use only the head is
      needed. The body is the Uniswap section which starts from column 27-44. This section shows in data format
      the exchange between sellers and buyers in Uniswap 2-3. The body is the liquidity and volume of Hex in
      Uniswap. The third part is the legs which is describes how the Hex Journal runs, its has a simulation with 4
      hypotheticals,definition and terms and a overview of charts.
      ption with terms </p>
  </div>
</section>

<section class="c">
  <div class="d1"><img src="assets/image/chart5.png" alt="chart overview"></div>
  <div class="d2">
    <P>Columns 45-55 display the definitions with number count. The number count looks at the chart overview found
      in
      AV10-52. The number count method prevent user from scrolling 45 columns horizontally, which is time
      consuming.
      Column AU18 is where the days go for estimated t-shares earning per share which is written on column AU5 in
      the
      simulation. There are 4 simulation with 4 imput data points to experiment with. The pink headers is where
      your
      input goes which manually has to be done since the price input can be of your choosing. There are 8 overview
      charts the first 3 charts concern are t-shares and price. The remaining 5 charts is Hex is in relation to
      Uniswap.
    </P>
  </div>

</section>

<section class="d">
  <div class="s6d1"><img src="assets/image/Note.png" alt="notes">
    <p>Column "A" is your personal note section where user can interact with Hex Journal for crypto evaluations.
      Write down special events concerning that day, or note down your fundamental or technical analysis.</p>
  </div>
  <div class="s6d2"><img src="assets/image/Note1.png" alt="about">
    <p>Row "2" in the About section are google notes that explains the headers. Google notes are discrete in size
      and are hard to see, you can find them on all cells in row "2" on top of right corner.</p>
  </div>
  <div class="s6d3"><img src="assets/image/Note3.png" alt="links">
    <p> Row "3" is where links are found created by the Hex and Uniswap community. With just one click away the user
      can link directly without doing unnecessary time consuming work. The Uniswap links show were information is
      retrieved if need be.</p>
  </div>
</section>

<section class="e">
  <div class="s6d1"><img src="assets/image/about .png" alt="google note">
    <p>This is google sheet Hex Journal "About sheet" which underlines basic layout and functionality of how the
      Journal works.</p>
  </div>
  <div class="s6d2"><img src="assets/image/Uni.png" alt="hex ratio">
    <p> Column "43" is Hex ratio between liquidity and volume trading pairs. The lower the number the higher the
      volume.The higher the number
      the lower the volume.</p>
  </div>
  <div class="s6d3"><img src="assets/image/eps.png" alt="uni ratio">
    <p>Column "44" is the ratio between Uniswap 1-2-3 Total liquidity and volume with all erc-20 trading pairs. The
      lower the number the higher the volume. The higher the number the lower
      the volume.</p>
  </div>
</section>

<section class="title">
  <div>
    <h1>Charts</h1>

  </div>
</section>


<section class="f">
  <div class="s3d1">
    <img src="assets/image/chart2.png" alt="overview123">
    <p class="p1">charts 1,2,3 is hex price, t-shares and Hex price correlation.</p>
  </div>
  <div class="s3d2">
    <img src="assets/image/chart3.png" alt="overview456">
    <p>Charts "4,5,6". "4"is your t-shares earnings in comparison to Hex price. Chart "5" is liquidity and volume in
      Uniswap 2,3. Chart "5" is total Hex liquidity and Uniswap liquidity comparison chart. </p>
  </div>
  <div class="s3d3">
    <img src="assets/image/chart4.png" alt="overview78">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque harum iste laboriosam autem rem magnam quam
      nesciunt, neque officia facilis.</p>
  </div>
</section>

<section class="g">
  <div><img src="assets/image/1.png" alt="1">
    <p>The Hex Price.</p>
  </div>
</section>

<section class="h">
  <div><img src="assets/image/2.png" alt="2">
    <p>Number of t-shares you own.</p>
  </div>
</section>

<section class="i">
  <div><img src="assets/image/4.png" alt="3">
    <p>Is the ratio between the price of 1t-shares and your daily earnings comparison chart.</p>
  </div>
</section>

<section class="j">
  <div><img src="assets/image/4.png" alt="4">
    <p>1t-shares earnings (not your total t-shares earnings) in comparison to the Hex price.</p>
  </div>
</section>

<section class="k">
  <div><img src="assets/image/5.png" alt="5">
    <p>The Hex liquidity and volume comparison chart in Uniswap 1,2.</p>
  </div>
</section>

<section class="l">
  <div><img src="assets/image/6.png" alt="6">
    <p>Total Hex and Uniswap 1,2,3 liquidity chart comparison.</p>
  </div>
</section>

<section class="m">
  <div><img src="assets/image/7.png" alt="7">
    <p>Total HEX/USDC HEX/ETH liquidity and volume in Uniswap 2,3 comparison chart. </p>
  </div>
</section>

<section class="n">
  <div><img src="assets/image/8.png" alt="8">
    <p>Ratio between Uniswap 1-2-3 liquidity and volume with all erc-20 trading pairs. The lower the number the
      higher the
      volume. The higher the number the lower the volume.</p>
  </div>
</section>

<section class="o">
  <div>
    <h3>Donation Address: 9x54o5u49o59459458944589</h3>
  </div>
</section>

<section class="conclusion">
  <div>
    <h3>Download Hex Journal (Google Sheet)</h3>

  </div>
</section>











  




