


div{
    display: flex;
    flex-direction:row;
    text-align: justify;
}
/*headers*/
h1{
    color:#ff44ff;
    display:flex;
    flex-direction:row;
    display:flex;
    justify-content:center;
    font-size: 80px;
}
h2{
    color:#ff44ff;
    display:flex;
    flex-direction:row;
    display:flex;
    justify-content:center;
    font-size: 80px;
}
    
h3{
    color:#ff44ff;
    display: flex;
    flex-direction:row;
    font-size:40px;
    color:#929292

}

/*section1*/
.introduction{
    h1{
     
    }

    .d1{

             display:row;
             flex-direction:column;  
    }

    }
  
.journal1{
    div{
        margin-top:80px;
        margin-bottom:100px;
    }
    img{
        width:100%;
        height: 700px;
    }
}
.preview{
        display:flex;
        flex-direction:column;
        flex:1;
        margin-top:20px;
        margin-bottom:15px;
        text-align: justify;
        div{
            display:flex;
        flex-direction:column;
        margin:11px;
        margin-bottom: 100px;
        }
        img{
            width:100%;
            height: 500px;        
         }
}

.load{
        display:flex;
        flex-direction:row;
        flex:1;

    div{
        display:flex;
        flex-direction:column;
        flex:1;

         img{
        width:100%;
        height:300px;
     }
    }
}
.download{
        display:flex;
        flex-direction:row;
        flex:1;

    div{
        display:flex;
        flex-direction:column;
        flex:1;

         img{

        width:100%;
        height:300px;
     }
    }
}
.download1{
        display:flex;
        flex-direction:row;
        flex:1;
        margin-top:20px;
        margin-bottom:15px;
        text-align: justify;

        div{
            display:flex;
        flex-direction:column;
        margin:11px;
        margin-bottom: 15px;
        }

        img{
            width:100%;
            height:300px; 
         }
}

/*section2*/
.titlej{
    div {
        display:flex;
        flex-direction:column;
          
      }

      h1{
          margin:40px;
          justify-content: center;
      }     
}

.a{
        display:flex;
        flex-direction:row;
        flex:1;
        margin-top:20px;
        margin-bottom:15px;
        text-align: justify;

        div{
            display:flex;
        flex-direction:column;
        margin:11px;
        margin-bottom: 15px;
        }

        img{
            width:100%;
            height:300px; 
         }
         .d1{
             display:flex;
        flex-direction:column;
        flex:1;

         }
         .d2{
             display:flex;
        flex-direction:column;
        flex:1;
             
         }
         .d3{
             display:flex;
        flex-direction:column;
        flex:1;
             
         }        
    
}

.b{
        display:flex;
        flex-direction:row;
        flex:1;
        height:300px;
        margin-top:20px;
        margin-bottom: 10px;
        text-align: justify;

        div{
            display:flex;
        flex-direction:column;
        text-align: justify;
        
        }

       img{
            height:300px;
            width:800px;
 }
        .d1{
            width:9px;
            margin-left:15px;
            display:flex;
            flex-direction:column;
            flex:1;
         } 
         .d2{
            width:415px;
            display:flex;
            flex-direction:column;
            margin-left:15px ;
            position:relative;
            bottom:15px;
            text-align: justify;  
         }         
}

.c{
         display:flex;
        flex-direction:row;
        flex:1;
        height:300px;
        margin-top:20px;
        margin-bottom: 10px;
        text-align: justify;
    

        div{
            display:flex;
        flex-direction:column;
        text-align: justify;
        }
        
        img{
            width:800px;
            height:300px;
        }
    
        .d1{
            width:9px;
            margin-left:15px;
            display:flex;
            flex-direction:column;
            flex:1;

        }
        .d2{
            
            width:415px;
            display:flex;
            flex-direction:column;
            margin-left:15px ;
            position:relative;
            bottom:15px;
            text-align: justify;  
        }

}

.d{
        display:flex;
        flex-direction:row;
        flex:1;
        //border:solid blue;
       
        margin-top:20px;
        margin-bottom:15px;
        text-align: justify;

        div{
            display:flex;
        flex-direction:column;
        margin:11px;
        margin-bottom: 15px;
        }

        img{
            width:100%;
            height:300px;
            
         }
        
        .s6d1{
            display:flex;
        flex-direction:column;
        flex:1;     
        }

        .s6d2{
            display:flex;
        flex-direction:column;
        flex:1;
            
        }
        .s6d3{
            display:flex;
        flex-direction:column;
        flex:1;
            
        }

}

.e{
        display:flex;
        flex-direction:row;
        flex:1;
        //border:solid blue;
        height:300px;
        margin-top:20px;
        margin-bottom: 100px;
        text-align: justify;

        div{
           display:flex;
        flex-direction:column;
        margin:11px;
        margin-bottom: 15px;
        }
        img{
            width:100%;
            height: 300px;
        }

        .s6d1{
            display:flex;
        flex-direction:column;
        flex:1;
        }
        .s6d2{
            display:flex;
        flex-direction:column;
        flex:1;
        }
        .s6d3{
            display:flex;
        flex-direction:column;
        flex:1;
        }

}
.title{   
    div {
        display:flex;
        flex-direction:column;         
      }

      h1{
          margin:40px;
          justify-content: center;
      }        
}

.f{
        display:flex;
        flex-direction:row;
        flex:1;
        
        text-align: justify;
        
    img {
        width: 100%; 
        height:300px;
    }

    div {
       display:flex;
        flex-direction:column;
        margin:11px;
        margin-bottom: 15px;    
      }

      .s3d1{
          display:flex;
        flex-direction:column;
        flex:1;
      }

      .s3d2{
          display:flex;
        flex-direction:column;
        flex:1;
        
      }
      .s3d3{
         display:flex;
        flex-direction:column;
        flex:1;  
      }
}

.g{
        display:flex;
        flex-direction:row;
        flex:1;
    div{
        display:flex;
        flex-direction:column;
        flex:1;

         img{

        width:100%;
        height:300px;
     }
        
    }
    
}

.h{
        display:flex;
        flex-direction:row;
        flex:1;

    div{
        display:flex;
        flex-direction:column;
        flex:1;

         img{

        width:100%;
        height:300px;
     }
        
    }

}

.i{
        display:flex;
        flex-direction:row;
        flex:1;
    div{
        display:flex;
        flex-direction:column;
        flex:1;

         img{

        width:100%;
        height:300px;
     }
        

    }
    
}

.j{
        display:flex;
        flex-direction:row;
        flex:1;
    div{
        display:flex;
        flex-direction:column;
        flex:1;
         img{
        width:100%;
        height:300px;
     }  
    }
}

.k{
        display:flex;
        flex-direction:row;
        flex:1;

    div{
        display:flex;
        flex-direction:column;
        flex:1;

         img{

        width:100%;
        height:300px;
     }
        

    }
    
}

.l{
        display:flex;
        flex-direction:row;
        flex:1;
    div{
        display:flex;
        flex-direction:column;
        flex:1;

         img{

        width:100%;
        height:300px;
     }
        
    }
    
}

.m{
    display:flex;
        flex-direction:row;
        flex:1;
    div{
        display:flex;
        flex-direction:column;
        flex:1;

         img{

        width:100%;
        height:300px;
     }
        
    }
    
}
    
.n{
        display:flex;
        flex-direction:row;
        flex:1;
    div{
        display:flex;
        flex-direction:column;
        flex:1;
         img{

        width:100%;
        height:300px;
     }
    }
}

.o{
    div{
    }
    h3{
        margin-bottom:50px;
        color:#929292;
    }
}

.conclusion{
    
    h3{
        justify-content:center ;

        
    }
}



