/* You can add global styles to this file, and also import other style files */
body {
    background-color: #424242;
    font-family: 'Roboto', sans-serif;
    color:#dbdbdb;
    text-justify:center;
    margin:60px;    
}

